<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="resources/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon" />
  <link rel="stylesheet" href="resources/css/Bodega/bootstrap.min.css" />
  <link rel="stylesheet" href="resources/css/Bodega/bodega.css" />
  <title>IconoBODEGA</title>
</head>

<body>
  <div class="container-fluid">
    <div class="container-xl">
      <div class="text-center position-relative">
        <a href="#" class="position-relative mt-3 ms-3" onclick="redirectTo('/index');">
          <img src="resources/img/ATRAS.png" alt="" />
        </a>
        <h1 class="mb-0 mt-4">Gestión y Revisión Bodega</h1>
      </div>

      <hr class="linea-tareas" />
      <div class="table-responsive">
        <!-- Agregamos la clase table-responsive para hacer la tabla responsive -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Acción</th>
              <th scope="col">Codigo</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
            <tr>
              <td>Detalle</td>
              <td>T_01</td>
              <td>Lona</td>
              <td>Lona inflable</td>
              <td>10/06/2024</td>
              <td>4</td>
              <td>Solicitud</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="resources/js/redirectTo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>'
      }).then(() => {
        window.location = '/<%= ruta %>';
      });
    </script>
    <% } %>

</body>

</html>