<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="resources/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon">
  <link rel="stylesheet" href="resources/css/Calidad/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/Calidad/calidad.css">
  <title>Calidad</title>
</head>

<body>
  <div class="container-fluid">
    <div class="container-md">
      <img src="resources/img/LogoMaicarSinFondo.png" alt="LogoMaicar" class="mt-4" width="130" height="120">
    </div>

    <br>
    <div class="container-xl rounded-3 align-items-stretch col p-4">
      <div class="d-flex justify-content-end position-absolute top-0 end-0 me-1" onclick="redirectTo('/index');">
        <a href="#">
          <img src="resources/img/ATRAS.png" alt="">
        </a>
      </div>
      <div class="text-center">
        <h2>REPORTE CONTROL DE CALIDAD</h2>
        <hr class="linea-tareas">
      </div>
      <div>
        <div class="position-relative">
          <p class="position-absolute top-0 end-0 mt-0 me-3 h5">Validación: <span id="contador">0</span></p>
        </div>
        <form action="/insertarCalidad" method="POST"> <!-- Agregado el atributo action y method -->
          <div class="mb-3 h5">
            <label for="nombre" class="form-label">Hecho por:</label>
            <input type="text" class="form-control rounded-4 border border-dark" id="nombre" name="hecho_por">
            <!-- Agregado el atributo name -->
          </div>
          <div class="mt-4 h5">
            <label for="comentario">Comentario: </label>
            <textarea name="comentario" id="comentario" cols="30" rows="5"
              class="rounded-3 border border-dark"></textarea>
          </div>
      </div>
      <div class="mt-5">
        <div class="d-block mb-2">
          <button type="submit" class="btn btn-danger" name="problema">PROBLEMA</button>
          <!-- Agregado el atributo name -->
        </div>
        <div class="d-block mb-2">
          <button type="submit" class="btn btn-secondary" name="medio">MEDIO</button> <!-- Agregado el atributo name -->
        </div>
        <div class="d-block">
          <button type="submit" class="btn btn-success" name="excelente">EXCELENTE</button>
          <!-- Agregado el atributo name -->
        </div>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-danger btn-lg" name="guardar">Guardar</button>
      </div>
      </form>
    </div>
    <hr>
  </div>

  <script src="resources/js/redirectTo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: '<%= timer %>'
      }).then(() => {
        window.location = '/<%= ruta %>';
      });
    </script>
    <% } %>

</body>

</html>