<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="resources/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon" />
  <link rel="stylesheet" href="resources/css/dashboard/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/Dashboard/dashboard.css">
  <title>Dashboard - Panel Información</title>
</head>

<body>
  <div class="container-fluid">
    <div class="container-xl">
      <div class="text-center">
        <h1>Panel de toda la información</h1>
      </div>
    </div>
    <div class="container-md">
      <img src="resources/img/LogoMaicarSinFondo.png" alt="LogoMaicar" class="mt-4" width="130" height="120" />
    </div>
    <div class="container-xl">
      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4">Información de Tareas</h1>
      </div>
      <div class="d-flex justify-content-end position-absolute top-0 end-0 me-1" onclick="redirectTo('/index');">
        <a href="#">
          <img src="resources/img/ATRAS.png" alt="" />
        </a>
      </div>

      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Tarea</th>
              <th scope="col">Asignada Por</th>
              <th scope="col">Seleccion de Area</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha Inicial</th>
              <th scope="col">Fecha Final</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% tareas.forEach((tarea)=> { %>
              <tr>
                <td>
                  <%= tarea.idTarea %>
                </td>
                <td>
                  <%= tarea.asignada_por %>
                </td>
                <td>
                  <%= tarea.seleccion_area %>
                </td>
                <td>
                  <%= tarea.descripcion %>
                </td>
                <td>
                  <%= tarea.fecha_Inicial %>
                </td>
                <td>
                  <%= tarea.fecha_Final %>
                </td>
                <td>
                  <a href="/tareas/edit/<%= tarea.idTarea %>" class="btn btn-outline-info">Editar</a>
                  <a href="/tareas/delete/<%= tarea.idTarea %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>


      <hr class="linea-tareas">

      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4">Información de Reporte de Calidad</h1>
      </div>

      <!-- TABLA DE CALIDAD -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Calidad</th>
              <th scope="col">Hecho por:</th>
              <th scope="col">Comentario</th>
              <th scope="col">Nivel de Calidad</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% calidad.forEach((reporte)=> { %>
              <tr>
                <td>
                  <%= reporte.idCalidad %>
                </td>
                <td>
                  <%= reporte.hecho_por %>
                </td>
                <td>
                  <%= reporte.comentario %>
                </td>
                <td>
                  <%= reporte.nivelCalidad %>
                </td>
                <td>
                  <a href="/calidad/edit/<%= reporte.idCalidad %>" class="btn btn-outline-info">Editar</a>
                  <a href="/calidad/delete/<%= reporte.idCalidad %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>


      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4">Información de Reporte de Informacion</h1>
      </div>

      <!-- TABLA DE Reporte de informacion -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Reporte</th>
              <th scope="col">Nombre Operario:</th>
              <th scope="col">Cargo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Descripcion de Reporte</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% reportes.forEach((reporte)=> { %>
              <tr>
                <td>
                  <%= reporte.idReporte %>
                </td>
                <td>
                  <%= reporte.nombreOperario %>
                </td>
                <td>
                  <%= reporte.cargo %>
                </td>
                <td>
                  <%= reporte.fecha %>
                </td>
                <td>
                  <%= reporte.reporteDescripcion %>
                </td>
                <td>
                  <a href="/reportes/edit/<%= reporte.idReporte %>" class="btn btn-outline-info">Editar</a>
                  <a href="/reportes/delete/<%= reporte.idReporte %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>


      <!-- ___________________---------------------------_______________________ -->
      <!-- Informacion COMPLETA DE BODEGA. -->

      <hr class="linea-tareas" />
      <hr class="linea-tareas" />
      <hr class="linea-tareas" />
      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4"><strong>Información Completa de BODEGA</strong></h1>
      </div>

      <div class=" position-relative">
        <h1 class="mb-0 mt-4">Información de Bodegas:</h1>
      </div>


      <!-- TABLA DE BODEGAS de informacion -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Bodega</th>
              <th scope="col">Codigo:</th>
              <th scope="col">Accion</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Pedidos</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% bodegas.forEach((bodega)=> { %>
              <tr>
                <td>
                  <%= bodega.idBodega %>
                </td>
                <td>
                  <%= bodega.codigo %>
                </td>
                <td>
                  <%= bodega.accion %>
                </td>
                <td>
                  <%= bodega.tipo %>
                </td>
                <td>
                  <%= bodega.nombre %>
                </td>
                <td>
                  <%= bodega.fecha %>
                </td>
                <td>
                  <%= bodega.cantidad %>
                </td>
                <td>
                  <%= bodega.pedidos %>
                </td>
                <td>
                  <a href="/bodegas/editar/<%= bodega.idBodega %>" class="btn btn-outline-info">Editar</a>
                  <a href="/bodegas/eliminar/<%= bodega.idBodega %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>


      <div class=" position-relative">
        <h1 class="mb-0 mt-4">Información de Productos:</h1>
      </div>


      <!-- TABLA DE PRODUCTOS de informacion -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Producto</th>
              <th scope="col">Nombre Producto:</th>
              <th scope="col">Cantidad por Producto</th>
              <th scope="col">Precio Unidad</th>
              <th scope="col">Unidad Existencia</th>
              <th scope="col">Unidad Pedido</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% productos.forEach((producto)=> { %>
              <tr>
                <td>
                  <%= producto.idProducto %>
                </td>
                <td>
                  <%= producto.nombreProducto %>
                </td>
                <td>
                  <%= producto.cantidadPorProducto %>
                </td>
                <td>
                  <%= producto.precioUnidad %>
                </td>
                <td>
                  <%= producto.unidadExistencia %>
                </td>
                <td>
                  <%= producto.unidadPedido %>
                </td>
                <td>
                  <a href="/productos/editar/<%= producto.idProducto %>" class="btn btn-outline-info">Editar</a>
                  <a href="/productos/eliminar/<%= producto.idProducto %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>


      <div class=" position-relative">
        <h1 class="mb-0 mt-4">Información de Bodega con Productos:</h1>
      </div>

      <!-- TABLA DE BODEGA-PRODUCTO de informacion -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">ID Producto Bodega </th>
              <th scope="col">ID Bodega</th>
              <th scope="col">ID Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% bodega_producto.forEach((bodega_producto)=> { %>
              <tr>
                <td>
                  <%= bodega_producto.idProductoBodega %>
                </td>
                <td>
                  <%= bodega_producto.idBodega %>
                </td>
                <td>
                  <%= bodega_producto.idProducto %>
                </td>
                <td>
                  <%= bodega_producto.cantidad %>
                </td>
                <td>
                  <a href="/bodega_producto/editar/<%= bodega_producto.idProductoBodega %>"
                    class="btn btn-outline-info">Editar</a>
                  <a href="/bodega_producto/eliminar/<%= bodega_producto.idProductoBodega %>"
                    class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <!-- Paginación para tareas -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% for (let i=1; i <=totalPagesTareas; i++) { %>
            <li class="page-item <%= page == i ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="page-item <%= page == totalPagesTareas ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        </ul>
      </nav>

      <script src="resources/js/redirectTo.js"></script>
</body>

</html>