<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="resources/img/LogoMaicarSinFondoBLANCO.ico" type="image/x-icon" />
  <link rel="stylesheet" href="resources/css/dashboard/bootstrap.min.css">
  <link rel="stylesheet" href="resources/css/Dashboard/dashboard.css">
  <title>Dasboard - Panel Información</title>
</head>

<body>
  <div class="container-fluid">
    <div class="container-xl">
      <div class="text-center">
        <h1>Panel de toda la información</h1>
      </div>
    </div>
    <div class="container-md">
      <img src="resources/img/LogoMaicarSinFondo.png" alt="LogoMaicar" class="mt-4" width="130" height="120" />
    </div>
    <div class="container-xl">
      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4">Información de Tareas</h1>
      </div>
      <div class="d-flex justify-content-end position-absolute top-0 end-0 me-1" onclick="redirectTo('/index');">
        <a href="#">
          <img src="resources/img/ATRAS.png" alt="" />
        </a>
      </div>

      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Tarea</th>
              <th scope="col">Asignada Por</th>
              <th scope="col">Seleccion de Area</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha Inicial</th>
              <th scope="col">Fecha Final</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% tareas.forEach((tarea)=> { %>
              <tr>
                <td>
                  <%= tarea.idTarea %>
                </td>
                <td>
                  <%= tarea.asignada_por %>
                </td>
                <td>
                  <%= tarea.seleccion_area %>
                </td>
                <td>
                  <%= tarea.descripcion %>
                </td>
                <td>
                  <%= tarea.fecha_Inicial %>
                </td>
                <td>
                  <%= tarea.fecha_Final %>
                </td>
                <td>
                  <a href="/tareas/edit/<%= tarea.idTarea %>" class="btn btn-outline-info">Editar</a>
                  <a href="/tareas/delete/<%= tarea.idTarea %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

      <hr class="linea-tareas">

      <div class="text-center position-relative">
        <h1 class="mb-0 mt-4">Información de Reporte de Calidad</h1>
      </div>

      <!-- TABLA DE CALIDAD -->
      <hr class="linea-tareas" />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID Calidad</th>
              <th scope="col">Hecho por:</th>
              <th scope="col">Comentario</th>
              <th scope="col">Nivel de Calidad</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% calidad.forEach((reporte)=> { %>
              <tr>
                <td>
                  <%= reporte.idCalidad %>
                </td>
                <td>
                  <%= reporte.hecho_por %>
                </td>
                <td>
                  <%= reporte.comentario %>
                </td>
                <td>
                  <%= reporte.nivelCalidad %>
                </td>
                <td>
                  <a href="/calidad/edit/<%= reporte.idCalidad %>" class="btn btn-outline-info">Editar</a>
                  <a href="/calidad/delete/<%= reporte.idCalidad %>" class="btn btn-outline-danger">Borrar</a>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script src="resources/js/redirectTo.js"></script>
</body>

</html>